% The next option is required so we can use lager.  
{erl_opts, [{parse_transform, lager_transform}]}.  
{sub_dirs, ["apps/*", "rel"]}.
{lib_dirs, ["deps"]}.  
{deps, [  
    {'lager', ".*", 
    	{git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}  
    },
    {'cowboy', ".*", 
    	{git, "git://github.com/extend/cowboy.git", {tag, "0.8.1"}}  
    },
    {'mimetypes', ".*",
		{git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}
	},
	{'jiffy', ".*",
		{git, "git://github.com/davisp/jiffy.git", {tag, "0.8.2"}}
	},
    {'json', ".*",
        {git, "git://github.com/hio/erlang-json.git", {branch, "master"}}
    }
]}.